<div class="citation">

  <h2>Savoir-faire et compétences</h2>

</div>

<section class="sec-skills">
      <div id = "first-mainfbox" class="home-mainfbox" data-stellar-background-ratio="0.6">

      <a href="dev_comp.html">
        <div id="dev" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="400">
          <div><%= image_tag "ico-ruby.png", alt: "Section-3d", height: 60 %></div>
          <h3>Développemement et refonte de sites web :</h3>
          <p>Sites vitrines et sites évènementiels, site d'artistes et de commerçants, soignants, chercheurs, auteurs, editeurs...</p>
        </div></a>

        <a href="autodesk.html">
         <div id="modelisation" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="0">
          <div class="iwrap-icon"><%= image_tag "ico-3d.png", alt: "Animation 3d", height: 60 %></div>
          <h3>La modélisation 3D :</h3>
          <p>Je créé en 3D, depuis plus de 25 ans, des objets, personnages, véhicules et batiments. Associé à l'impression 3D je prototype des objet.</p>
        </div></a>

        <a href="shorts2.html">
         <div id="animation" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="200">
          <div class="iwrap-icon"><%= image_tag "ico-shorts.png", alt: "shorts-3d", height: 60 %></div>
          <h3>L'animation / Le Montage vidéo :</h3>
          <p>Les outils de montage et de compositing me permettent de lier les séquences et donner un résultat  cohérent.<br>Jettez un coup d'oeil !</p>
        </div></a>

        <a href="music.html">
        <div id="music" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="400">
          <div class="iwrap-icon"><%= image_tag "ico-music.png", alt: "Section-3d", height: 60 %></div>
          <h3>Composition musicale, Jinggles :</h3>
          <p>Guitares, claviers et ordinateurs sont des instruments qui font également parti de ma palette d'expression !</p>
        </div></a>


      </div><!-- fin home-mainfbox -->

      <div  id = "second-mainfbox" class="home-mainfbox">

        <a href="illustration.html">
         <div id="illust" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="200">
          <div class="iwrap-icon"><%= image_tag "ico-illust.png", alt: "illustration", height: 60 %></div>
          <h3>Illustration :</h3>
          <p>Aérographe ou tablette graphique ? <br>J'ai choisi la tablette...<br>
            Digital Painting !</p>
        </div></a>

        <a href="print.html">
        <div id= "print" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
          <div class="skill-apt" class="iwrap-icon"><%= image_tag "ico-print.png", alt: "Print", height: 60 %><%= image_tag "ico-web.png", alt: "Web", height: 60 %></div>
          <h3>Mise en page :</h3>
          <p>HTML, CSS (css-grid, flexbox, bootstrap), Javascript, Jquery... </p>
        </div></a>

        <a href="gifs.html">
         <div id="gifs" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="600">
          <div class="iwrap-icon"><%= image_tag "ico-photoshop.png", alt: "Modelisation 3d", height: 60 %></div>
          <h3>La personnalisation de contenus numériques :</h3>
          <p>Parce que notre présence sur internet doit se distinguer de la masse ! Ajoutez <br>des contenus qui vous représentent et vous ressemblent !</p>
        </div></a>

        <a href="contact.html">
        <div id="contact" class="img_wrapper" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-delay="600">
          <div class="iwrap-icon">
            <%= image_tag "ico-contact.png", alt: "Section-3d", height: 60 %>
          </div>
          <h3>Contactez-moi</h3>
          <p>Des questions ? C'est par ici !</p>
        </div></a>

      </div><!-- fin home-mainfbox -->

  </section>
