<div class="myfooter">
  <div class="centree">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="list-menu">
        <ul>
          <li><%= link_to 'Prints', 'print.html'  %></li>
          <li><%= link_to 'Illustrations', 'illustration.html' %></li>
          <li><%= link_to 'Modélisation 3D', 'autodesk.html' %></li>
          <li><%= link_to 'Animation 3D', 'shorts2.html' %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="list-menu">
        <ul>
          <li><%= link_to 'Développement', 'dev_comp.html' %></li>
          <li><%= link_to 'Contenu personnalisé', 'gifs.html' %></li>
          <li><%= link_to 'Musique', 'music.html' %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="list-menu">
        <ul>
          <li><%= link_to 'About', 'about.html' %></li>
          <li><%= link_to 'Contact', 'contact.html' %></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
         <div class="list-menu">
          <a href="#"><i class="fa fa-github"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

