<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item">
    <span><%= link_to 'WEB', "dev_comp.html" %></span>
  </div>

  <div class="tabs-item dropdown">
    <span>PASSION 3D</span>
      <div class="dropdown-content">
        <span><%= link_to 'Modélisation', "autodesk.html" %></span>
        <hr>
        <span><%= link_to 'Animations & Montages vidéo', "shorts2.html" %></span>
        <hr>
        <span><%= link_to 'Unreal Engine', "unreal.html" %></span>
      </div>
  </div>
  <div class="tabs-item dropdown">
    <span>INFOGRAPHIE<span>
      <div class="dropdown-content">
        <span><%= link_to 'Dessins et Illustrations', "illustration.html" %></span>
         <hr>
        <span><%= link_to 'Personnalisation de supports', "gifs.html" %></span>
        <hr>
         <span><%= link_to 'Mise en page', "print.html" %></span>

    </div>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'AUDIO', "music.html" %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'CONTACT', 'contact.html' %></span>
  </div>
   <div class="tabs-item">
     <span><%= link_to 'BOUTIQUE', 'shop.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'A PROPOS', 'about.html' %></span>
  </div>
</div><!-- Fin tabs -->

