<div class="tabs hidden-xs hidden-sm">

  <div class="tabs-item dropdown">
    <span>Portfolio 3D</span>
      <div class="dropdown-content">
        <span><%= link_to 'Modélisation', "autodesk.html" %></span>
        <hr>
        <span><%= link_to 'Animation & Motion Design', "shorts2.html" %></span>
      </div>
  </div>


  <div class="tabs-item dropdown">
    <span>Print / Web / Illustration<span>
      <div class="dropdown-content">
         <span><%= link_to 'Mise en page / Web Design', "print.html" %></span>
          <hr>
         <span><%= link_to 'Dessins et Illustrations', "illustration.html" %></span>
         <hr>
         <span><%= link_to 'Personnalisation de supports', "gifs.html" %></span>
    </div>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Développement', "dev_comp.html" %></span>
  </div>

  <div class="tabs-item">
    <span><%= link_to 'Musique', "music.html" %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'Contact', 'contact.html' %></span>
  </div>
  <div class="tabs-item">
     <span><%= link_to 'A propos', 'about.html' %></span>
  </div>

</div><!-- Fin tabs -->

