
<div data-aos="fade-up">
  <div class="title-wrap">
    <div class="ico-title hidden-xs">
      <%= image_tag "ico-3d.png" %>
    </div>
    <div class="a-texte">
      <h2>Modélisation 3D</h2>
      <p>Plus de 25 années de pratique en modélisation et animation 3D en autoformation.<br>
      </p>
    </div>
    <div class="text-center hidden-sm hidden-xs">
      <h4>Domaine d'expertise</h4>
      <%= image_tag "ico-3dsmax.png", alt: "3dsMax", height:60 %>
      <%= image_tag "ico-mudbox.png", alt: "Mudbox", height:60 %>
      <%= image_tag "ico-photoshop.png", alt: "Photoshop", height:60 %>
    </div>
  </div>
</div>

<div class="container aered marges">
  <p> Aujourd'hui je propose mes services en <strong>modélisation, animation et impression 3D</strong> aux chercheurs inspirés, informateurs conscients, soignants, créatifs, éditeurs, entrepreneurs, développeurs, youtubeurs...<br></p>
</div>

<section class="a-wrapper-titles">
  <ul>
    <li><h2>Personnages</h2></li>
    <div class="a-container">
      <div class="img">
        <a href="images/model-b.jpg" data-lightbox="perso" data-title="Base de personnage féminin. Go to next ->"><%= image_tag "model1.jpg"%></a>
      </div>
      <div class="img hidden">
        <a href="images/model-a.jpg" data-lightbox="perso" data-title="#"><%= image_tag "model1.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/3d_process.jpg" data-lightbox="perso" data-title="Process low-poly to hight poly."><%= image_tag "3d_process1.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/origine.jpg" data-lightbox="perso" data-title="'Origin' sculpté sous Mudbox d'Autodesk."><%= image_tag "origine1.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/porkman.jpg" data-lightbox="perso" data-title="'Porkman' sculpté sous Mudbox d'Autodesk."><%= image_tag "porkman1.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/garment.jpg" data-lightbox="basic" data-title="Utilisation de Garment Maker et Cloth (Autodesk 3ds Max) pour la création d'un vêtement sur personnage animé."><%= image_tag "garment1.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/dino.jpg" data-lightbox="dino" data-title="Trex animable avec structure Cat-3dsMax"><%= image_tag "trex1.jpg" %></a>
      </div>
      <div class="img">
        <a href="images/MGV4_Model.jpg" data-lightbox="MGV4" data-title="La modelisation"><%= image_tag "MGV4_Model_t.jpg" %></a>
      </div>
       <div class="img hidden">
        <a href="images/MyGirlV4_Paint.jpg" data-lightbox="MGV4" data-title="Application des textures"><%= image_tag "MGV4_Model_t.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/MixamoProo2f.jpg" data-lightbox="MGV4" data-title="Importation dans Mixamo"><%= image_tag "MixamoProof2_t.jpg" %></a>
      </div>
      <div class="img hidden">
        <a href="images/MixamoProof2.jpg" data-lightbox="MGV4" data-title="Importation dans Mixamo"><%= image_tag "MixamoProof2_t.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/MixamoProof.jpg" data-lightbox="MGV4" data-title="Animation avec Mixamo"><%= image_tag "MixamoProof_t.jpg" %></a>
      </div>

    </div><!-- a-container -->

     <li><h2>Véhicules hight & low polygons</h2></li>
    <div class="a-container hider">

      <div class="img">
        <a href="images/FMS_022.jpg" data-lightbox="FMS" data-title="3D véhicule"><%= image_tag "FMS_022_t.jpg"%></a>
      </div>
       <div class="img hidden">
        <a href="images/FMS_004.jpg" data-lightbox="FMS" data-title="Modelisation"></a>
      </div>
      <div class="img hidden">
        <a href="images/FMS_018.jpg" data-lightbox="FMS" data-title="Rendu MentalRay"></a>
      </div>
      <div class="img hidden">
        <a href="images/FMS_021.jpg" data-lightbox="FMS" data-title="Rendu MentalRay"></a>
      </div>

      <div class="img">
        <a href="images/quad_2018_0.jpg" data-lightbox="quad" data-title="Modelisation et rigging d'un Quad et de son pilote."><%= image_tag "quad_2018.jpg"%></a>
      </div>
       <div class="img hidden">
        <a href="images/quad_2018_2.jpg" data-lightbox="quad" data-title="Rendu MentalRay"></a>
      </div>
      <div class="img hidden">
        <a href="images/quad_2018_6.jpg" data-lightbox="quad" data-title="Mise en scène"></a>
      </div>
      <div class="img hidden">
        <a href="images/quad_2018_3.jpg" data-lightbox="quad" data-title="Mise en scène"></a>
      </div>
      <div class="img hidden">
        <a href="images/quad_2018_4.jpg" data-lightbox="quad" data-title="Mise en scène"></a>
      </div>
      <div class="img hidden">
        <a href="images/quad_2018_5.jpg" data-lightbox="quad" data-title="Mise en scène"></a>
      </div>
      <div class="img hidden">
        <a href="images/quad_2018_1.jpg" data-lightbox="quad" data-title="Rigging (Hauteur du chassis, orientation et rotation des roues, inclinaison du carenage, du pilote et du guidon)."></a>
      </div>
      <div class="img hidden">
        <a href="images/quad_2018_7.jpg" data-lightbox="quad" data-title="Mise en scène"></a>
      </div>
      <div class="img hidden">
        <a href="images/quad_2018_8.jpg" data-lightbox="quad" data-title="Mise en scène"></a>
      </div>
      <div class="img">
        <a href="images/babymech.jpg" data-lightbox="bbm" data-title="Modélisation et textures d'un 'BabyMech'."><%= image_tag "babymech1.jpg"%></a>
      </div>
      <div class="img hidden">
        <a href="images/bbm.jpg" data-lightbox="bbm" data-title="Mise en scène et animation."></a>
      </div>
      <div class="img hidden">
        <a href="images/unwrap-uvw.png" data-lightbox="bbm" data-title="Dépliage de textures sur un Mech-Warrior."></a>
      </div>
       <div class="img">
        <a href="images/char2.jpg" data-lightbox="other" data-title="Char futuriste légé."><%= image_tag "char21.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/apache.jpg" data-lightbox="other" data-title="Modelisation low-poly d'un Apache AH-64"><%= image_tag "apache1.gif"%></a>
      </div>
    </div><!-- a-container -->

    <li><h2>Animation faciale (Morphing).</h2></li>
    <div class="a-container hider">
      <div class="img">
        <a href="images/patcham.jpg" data-lightbox="faces" data-title="Déclinaison d'expressions pour morphing d'animation low-poly."><%= image_tag "patcham1.gif"%></a>
      </div>
      <div class="img">
        <a href="images/e1face.jpg" data-lightbox="faces" data-title="Déclinaison d'expressions pour morphing d'animation low-poly."><%= image_tag "e1face1.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/mamba.png" data-lightbox="faces" data-title="Déclinaison d'expressions pour morphing d'animation low-poly."><%= image_tag "mamba1.png"%></a>
      </div>
    </div><!-- a-container -->

    <li><h2>Architecture, low-poly, PLV et décoration</h2></li>
    <div class="a-container hider">
      <div class="img">
        <a href="images/arsac.jpg" data-lightbox="arsac" data-title="Etude de faisabilité. Détourage, nettoyage, mise au plan, modelisation, éclairage."><%= image_tag "arsac1.gif"%></a>
      </div>
      <div class="img">
        <a href="images/interieur.jpg" data-lightbox="basic" data-title="Travail sur l'éclairage : mental-ray."><%= image_tag "interieur1.jpg", height: 139%></a>
      </div>
      <div class="img">
        <a href="images/dreamhouse.jpg" data-lightbox="dreamhouse" data-title="Architecture."><%= image_tag "dreamhouse1.gif"%></a>
      </div>
      <div class="img hidden">
        <a href="images/dreamhouse1.jpg" data-lightbox="dreamhouse" data-title="Piscine interieur exterieur, 3 étages, terrasses."></a>
      </div>
      <div class="img hidden">
        <a href="images/dreamhouse2.jpg" data-lightbox="dreamhouse" data-title="Piscine interieur exterieur, 3 étages, terrasses."></a>
      </div>
      <div class="img hidden">
        <a href="images/dreamhouse3.jpg" data-lightbox="dreamhouse" data-title="Piscine interieur exterieur, 3 étages, terrasses."></a>
      </div>
      <div class="img hidden">
        <a href="images/dreamhouse4.jpg" data-lightbox="dreamhouse" data-title="Piscine interieur exterieur, 3 étages, terrasses."></a>
      </div>
      <div class="img">
        <a href="images/carpentry.jpg" data-lightbox="carpentry" data-title="Menuiserie model low-poly et textures. 1/3"><%= image_tag "carpentry1.jpg", height: 139 %></a>
      </div>
      <div class="img hidden">
        <a href="images/carpentry2.jpg" data-lightbox="carpentry" data-title="Mise en scène. 2/3"><%= image_tag "carpentry1.jpg"%></a>
      </div>
      <div class="img hidden">
        <a href="images/carpentry3.jpg" data-lightbox="carpentry" data-title="Model low-poly. 3/3"><%= image_tag "carpentry1.jpg"%></a>
      </div>
      <div class="img">
        <a href="images/theatre.gif" data-lightbox="theatre" data-title="Modelisation aperçu scène spectacle"><%= image_tag "theatre1.gif"%></a>
      </div>
    </div><!-- a-container -->

    <li><h2>Systèmes complexes et Unreal Engine (UE4)</h2></li>
    <div class="a-container hider">
      <div class="img">
        <a href="shorts/max_quad.mp4" target="_blank"><%= image_tag "max_quad1.png"%></a>
      </div>
      <div class="img">
        <a href="images/crowd.jpg" data-lightbox="crowd" data-title="3dsMax - Animation d'instances ayant des comportements (éviter, suivre une surface, contourner...)."><%= image_tag "crowd1.jpg"%></a>
      </div>
       <div class="img">
        <a href="toycar.html"><%= image_tag "toycar1.jpg"%></a>
      </div>
       <div class="img">
        <a href="unreal.html"><%= image_tag "unreal1.png"%></a>
      </div>
    </div><!-- a-container -->

    <li><h2>Modélisation avant réalisation en bois.</h2></li>
    <div class="a-container hider">
      <div class="img">
        <a href="images/meuble.jpg" data-lightbox="brico" data-title="Porte-journaux."><%= image_tag "meuble1.gif"%></a>
      </div>
      <div class="img">
        <a href="images/boite.jpg" data-lightbox="brico" data-title="Support portefeuille et clefs, à tiroir."><%= image_tag "boite1.gif"%></a>
      </div>
       <div class="img">
        <a href="images/terrarium.png" data-lightbox="brico" data-title="Terrarium."><%= image_tag "terrarium1.png"%></a>
      </div>
    </div><!-- a-container -->
  </ul>
</section>

<div class="propo-container">
  <div class="p-info-barre">
    <h4>Exemple de collaboration :</h4>
    <p>1- Après notre premier contact, je collecte les références, je réceptionne un cahier des charges.<br>
      2- Etablissement d'une stratégie, d'un plan d'action, devis relatif au budget. <br />
      3- Dès réception de l'acompte (30%), le projet est mis en production.<br />
      4- Nous suivons, ensemble, au fur et à mesure, l'avancement du projet.<br />
      5- Au réglement du solde, le projet est livré dans sa totalité.</p>
  </div>
  <div class="p-contact-button"><a href="contact.html"><button class="btn btn-success btn-lg">Poser une question.<br>Me faire part d'un projet. <br>Demander un devis.</button></a></div>
</div>


<%= partial 'layouts/components/apt' %>



