<div class="container">
  <div data-aos="fade-in">
    <div class="title-dev-container">
      <div class="ico text-center hidden-xs">
        <%= image_tag "ico-web.png" %>
      </div>
      <div class="dev-title">
        <h1>Sites statiques.</h1>
        <p  class="hidden-xs"><strong>Sites d'informations</strong> constitués de <strong>pages, d'images, de textes et d'un formulaire de contact</strong>, pour recevoir des e-mails, comme celui sur lequel vous êtes actuellement. (HTML, CSS, Javascript, JQuery...). <strong>Visible sur tout supports</strong> (Responsives) ordinateur, tablettes, téléphones.</p>
      </div>
      <br>
      <a href="contact.html"><button class="glow-on-hover" type="button">Poser une question.<br>Me faire part d'un projet. <br>Demander un devis.</button></a>

    <div class="texte">
      <p></p>
    </div>
  </div><!-- fade-in -->

<div class="dev-mainfbox black">
  <%= image_tag "Capture-clefsdelfe.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-clefsdelfe-t.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-clefsdelfe-m.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-lrhg.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-lrhg-t.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-lrhg-m.jpg", alt: "image", height: 150 %>
</div>

<div class="text-center">Ils nous ont déja fais confiance :
  <a href="http://www.clefsdelfe.com/", target=__blank>www.clefsdelfe.com</a> |
  <a href="http://www.hoo-paris.com/", target=_blank>www.hoo-paris.com</a> |
  <br>En démo :
  <a href="https://backseo.github.io/ESF" target="_blank">Européens sans frontières</a> |
  <a href="https://backseo.github.io/LRHG" target="_blank">Les Ruchers Des Hauts De Gironde</a> |
  <a href="https://backseo.github.io/LGB" target="_blank">Le Garage Bar</a> |
</div>


<div class="container">
  <div data-aos="fade-up">
    <div class="title-dev-container">
      <div class="ico text-center hidden-xs"><%= image_tag "ico-ruby.png" %></div>
        <div id="gdpw" class="dev-title text-center">
          <h1>Sites dynamiques & applications web</h1>

        </div>
      <a href="contact.html" type="button" class="btn btn-success m-top">Contactez-moi !</a>
    </div>
    <div class="texte">
      <h3>Création de sites dynamiques et Applications webs.</h3>
      <p>Je développe  sur Ruby et le framework Rails et son architecture MVC (Models, Views, Controllers) qui pilotent l'accés à la base de donnée contenant vos utilisateurs, produits, services, gestion des administrateurs...</p>
    </div>
  </div>
</div>

<div class="dev-mainfbox black">
  <%= image_tag "Capture_dhom1.png", alt: "image", height: 150 %>
  <%= image_tag "Capture_hop1.png", alt: "image", height: 150 %>
  <%= image_tag "Capture_farm1.png", alt: "image", height: 150 %>
</div>

<section>
      <div class="text-center dev-mainfbox d-aered">
        <%= image_tag "separate02.png", alt: "séparation" %>
        <%= image_tag "ico-middleman.png", alt: "Middleman", height: 60 %>
        <%= image_tag "ico-html.png", alt: "HTML", height: 60  %>
        <%= image_tag "ico-css.png", alt: "CSS", height: 60  %>
        <%= image_tag "ico-javascript.png", alt: "Javascript", height: 60  %>
        <%= image_tag "ico-bootstrap.png", alt: "Bootstrap", height: 60 %>
      </div>
    </section>

  <section>
    <div class="text-center dev-mainfbox d-aered">
      <%= image_tag "separate03.png", alt: "séparation" %>
      <%= image_tag "ico-rails.png", alt: "Rails", height: 50  %>
      <%= image_tag "ico-postgre.png", alt: "Postgre", height: 50  %>
      <%= image_tag "ico-github.png", alt: "Github", height: 50 %>
      <%= image_tag "ico-ajax.png", alt: "Ajax", height: 50 %>
      <%= image_tag "ico-google_dev.png", alt: "google", height: 50 %>
      <%= image_tag "ico-npm.png", alt: "npm", height: 50 %>
      <%= image_tag "ico-webpack.png", alt: "Webpack", height: 50 %>
      <%= image_tag "ico-yarn.png", alt: "Yarn", height: 50 %>
      <%= image_tag "ico-node.png", alt: "Node.js", height: 50 %>
      <%= image_tag "ico-stripe.png", alt: "Stripe", height: 50 %>
      <%= image_tag "ico-heroku.png", alt: "Heroku", height: 50 %>
    </div>
  </section>
</div><!-- container -->

  <%= partial 'layouts/components/apt' %>












