<div class="container">
  <div data-aos="fade-in">
    <div class="title-dev-container">
      <div class="ico text-center hidden-xs">
        <%= image_tag "ico-web.png" %>
      </div>
      <div class="dev-title">
        <h1>Sites d'information.</h1>
        <h4>(Site d'information constitué d'images, de textes et d'un formulaire de contact).</h4>
      </div>
      <a href="contact.html" type="button" class="btn btn-success m-top">Contactez-moi !</a>
    </div>

    <div class="texte">
      <p></p>
    </div>
  </div><!-- fade-in -->

<div class="dev-mainfbox black">
  <%= image_tag "Capture-clefsdelfe.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-clefsdelfe-t.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-clefsdelfe-m.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-lrhg.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-lrhg-t.jpg", alt: "image", height: 150 %>
  <%= image_tag "Capture-lrhg-m.jpg", alt: "image", height: 150 %>
</div>

<div class="text-center">Ils nous ont déja fais confiance :
  <a href="http://www.clefsdelfe.com/", target=__blank>www.clefsdelfe.com</a> /
  <a href="http://www.hoo-paris.com/", target=_blank>www.hoo-paris.com</a> /
  En pré-production :
  <a href="https://backseo.github.io/LGB" target="_blank">Le Garage Bar</a> /
  <a href="https://backseo.github.io/LRHG" target="_blank">Les Ruchers Des Hauts De Gironde</a> /
</div>


<div class="container">
  <div data-aos="fade-up">
    <div class="title-dev-container">
      <div class="ico text-center hidden-xs"><%= image_tag "ico-ruby.png" %></div>
        <div id="gdpw" class="dev-title text-center">
          <h1>Sites dynamiques & projets web</h1>

        </div>
      <a href="contact.html" type="button" class="btn btn-success m-top">Contactez-moi !</a>
    </div>
    <div class="texte">
      <h3>Création de sites dynamiques et E-commerce. Mise à jour de sites éxistants.</h3>
      <p>Je vous aide à mettre en place votre application, votre site vitrine, votre CMS (Wordpress, Shopify...), la page web évenementielle de votre prochain évènement... Je développe  avec Ruby et le framework Rails et son architecture MVC (Models, Views, Controllers) qui pilotent l'accés à la base de donnée contenant vos utilisateurs, produits, services, la gestion des administrateurs...</p>
      <p>Création de templates en accord avec votre charte graphique. Nous pouvons ajouter du contenu, créer des fonctionnalités à votre site existant, améliorer votre design et l'expérience de vos utilisateurs sur votre site éxistant (Ajax, Jquery, Javascript, HTML et css).</p>
    </div>
  </div>
</div>

<div class="dev-mainfbox black">
  <%= image_tag "Capture_dhom1.png", alt: "image", height: 150 %>
  <%= image_tag "Capture_hop1.png", alt: "image", height: 150 %>
  <%= image_tag "Capture_farm1.png", alt: "image", height: 150 %>
</div>

<section>
      <div class="text-center dev-mainfbox d-aered">
        <%= image_tag "separate02.png", alt: "séparation" %>
        <%= image_tag "ico-middleman.png", alt: "Middleman", height: 60 %>
        <%= image_tag "ico-html.png", alt: "HTML", height: 60  %>
        <%= image_tag "ico-css.png", alt: "CSS", height: 60  %>
        <%= image_tag "ico-javascript.png", alt: "Javascript", height: 60  %>
        <%= image_tag "ico-bootstrap.png", alt: "Bootstrap", height: 60 %>
      </div>
    </section>

  <section>
    <div class="text-center dev-mainfbox d-aered">
      <%= image_tag "separate03.png", alt: "séparation" %>
      <%= image_tag "ico-rails.png", alt: "Rails", height: 50  %>
      <%= image_tag "ico-postgre.png", alt: "Postgre", height: 50  %>
      <%= image_tag "ico-github.png", alt: "Github", height: 50 %>
      <%= image_tag "ico-ajax.png", alt: "Ajax", height: 50 %>
      <%= image_tag "ico-google_dev.png", alt: "google", height: 50 %>
      <%= image_tag "ico-npm.png", alt: "npm", height: 50 %>
      <%= image_tag "ico-webpack.png", alt: "Webpack", height: 50 %>
      <%= image_tag "ico-yarn.png", alt: "Yarn", height: 50 %>
      <%= image_tag "ico-node.png", alt: "Node.js", height: 50 %>
      <%= image_tag "ico-stripe.png", alt: "Stripe", height: 50 %>
      <%= image_tag "ico-heroku.png", alt: "Heroku", height: 50 %>
    </div>
  </section>
</div><!-- container -->

  <%= partial 'layouts/components/apt' %>












