
<div class="container">
  <div data-aos="fade-up">
    <div class="dev-container">
      <div class="ico text-center">
        <%= image_tag "ico-ruby.png" %>
      </div>
      <div class="dev-texte text-center">
        <h1>Gestion de projets web (Back-end /Front-end).</h1>
        <div class="dev-container text-center"><a href="" type="button" class="btn btn-success"><strong>Contactez-moi !</strong></a></div>
      </div>
    </div>
    <p id="myhover"><strong>Framework Ruby on Rails, architecture MVC, programmation orientée objets, classes, héritage, modules, librairies, helpers, requêtes HTTP, CRUD, bases de données, collaboration sur les projets...</strong></p>
  </div>

  <div class="dev-mainfbox black">
    <%= image_tag "Capture_dhom1.png", alt: "image", height: 150 %>
    <%= image_tag "Capture_hop1.png", alt: "image", height: 150 %>
    <%= image_tag "Capture_farm1.png", alt: "image", height: 150 %>
  </div>

  <section>
    <div class="text-center dev-mainfbox aered">
      <%= image_tag "ico-rails.png", alt: "Rails", height: 60  %>
      <%= image_tag "ico-html.png", alt: "HTML", height: 60  %>
      <%= image_tag "ico-css.png", alt: "CSS", height: 60  %>
      <%= image_tag "ico-javascript.png", alt: "Javascript", height: 60  %>
      <%= image_tag "ico-middleman.png", alt: "Middleman", height: 60 %>
      <%= image_tag "ico-bootstrap.png", alt: "Bootstrap", height: 60 %>
      <%= image_tag "ico-postgre.png", alt: "Postgre", height: 60  %>
      <%= image_tag "ico-github.png", alt: "Github", height: 60 %>
      <%= image_tag "ico-ajax.png", alt: "Ajax", height: 60 %>
      <%= image_tag "ico-google_dev.png", alt: "google", height: 60 %>
      <%= image_tag "ico-npm.png", alt: "npm", height: 60 %>
      <%= image_tag "ico-webpack.png", alt: "Webpack", height: 60 %>
      <%= image_tag "ico-yarn.png", alt: "Yarn", height: 60 %>
      <%= image_tag "ico-node.png", alt: "Node.js", height: 60 %>
      <%= image_tag "ico-stripe.png", alt: "Stripe", height: 60 %>
      <%= image_tag "ico-heroku.png", alt: "Heroku", height: 60 %>
    </div>
  </section>

<div class="container">
  <div data-aos="fade-in">
    <div class="dev-container">
      <div class="ico text-center hidden-xs">
        <%= image_tag "ico-web.png" %>
      </div>
      <div class="dev-texte">
        <h1>Integration Web Responsive (Front-end).</h1>
        <div class="dev-container text-center"><a href="" type="button" class="btn btn-success"><strong>Contactez-moi !</strong></a></div>
      </div>
    </div>
    <div> <p><strong>Création, refonte de sites statiques et dynamiques.</strong> Webdesign : <strong>Création de templates et chartes graphiques.</strong><br> <strong>Responsive Design : </strong>pour un rendu optimal sur les mobiles et tablettes tactiles.
        </p>
    </div>
  </div>
  <div class="dev-container white text-center"><%= image_tag "artecie1.png", alt: "Artistes et Cie" %></div>
    <div class="d-container white text-center">
      <%= image_tag "artfoto1.jpg", class: 'aered', style: 'height: 250px'%>
      <%= image_tag "artfoto2.jpg", class: 'aered', style: 'height: 250px'%>
      <%= image_tag "artfoto3.jpg", class: 'aered', style: 'height: 250px'%>
      <%= image_tag "artfoto4.jpg", class: 'aered', style: 'height: 250px'%>
    </div>
  </div>

  <%= partial 'layouts/components/apt' %>
</div><!-- fin container -->












