
<div data-aos="fade-up">
  <div class="p-container">
    <div class="text-center hidden-xs">
      <%= image_tag "ico-web.png" %>
    </div>
    <div class="p-texte">
      <h1>Personnalisation de contenus numériques.</h1>
      <p>Pour agrémenter vos pages web, votre blog, vos réseaux sociaux, démarquez-vous grâce à la personnalisation. Il est toujours possible de créer le visuel ou la petite animation qui va bien. Celle qui vous caractèrise et vous ressemble, qui illustre au mieux la personne que vous êtes, l'idée que vous voulez faire passer, l'entreprise que vous représentez.</p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-photoshop.png" %>
        <%= image_tag "ico-3dsmax.png" %>
        <%= image_tag "ico-wacom.png", alt: "Wacom" %>
      </div>
  </div>
</div>

<div class="text-center">
  <h2>Les gifs animés 2D / 3D</h2>
  <p>Ils sont partout... Et on peux tout animer, même votre logo !</p>
</div>

<div class="#" data-aos="zoom-in">
  <div class="imgbox-white">
    <div class="g-img"><img src="../images/walk.gif"></div>
    <div class="g-img"><img src="../images/grijolie.gif"></div>
    <div class="g-img"><img src="../images/fight1.gif"></div>
    <div class="g-img"><img src="../images/ara.gif"></div>
    <div class="g-img"><img src="../images/chenille.gif"></div>
    <div class="g-img"><img src="../images/lewagon2.gif"></div>
    <div class="g-img"><img src="../images/bee.gif", height="200px"></div>
  </div><!-- fin imgbox-white -->


  <div class="text-center">
    <h2>Les démonstrations techniques.</h2>
    <p>Quoi de mieux pour illustrer simplement une technique liée à votre activité !</p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/Egrappage.gif"></div>
    <div class="g-img"><img src="../images/foulage.gif"></div>
    <div class="g-img"><img src="../images/presse.gif   "></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Pour personnaliser votre blog, amuser vos amis, vos followers, vos clients.</h2>
    <p>Avoir un visuel unique qui vous représente !</p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/nuages.gif"></div>
    <div class="g-img"><img src="../images/francou.gif"></div>
    <div class="g-img"><img src="../images/carla.gif"></div>
    <div class="g-img"><img src="../images/aliensit.gif"></div>
    <div class="g-img"><img src="../images/guitare.gif"></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Un clin d'oeil, style Emoji..ticones.</h2>
    <p>Pour dire oui ! non ! salut ! je suis comme un fou ! heu... je comprend pas ! Mouais ! ...</p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/lola2.gif"></div>
    <div class="g-img"><img src="../images/yes.gif"></div>
    <div class="g-img"><img src="../images/lol9.gif"></div>
    <div class="g-img"><img src="../images/lol8.gif"></div>
    <div class="g-img"><img src="../images/oeil3.gif"></div>
    <div class="g-img"><img src="../images/foun.gif"></div>
    <div class="g-img"><img src="../images/redcar2.gif"></div>
  </div><!-- fin imgbox -->

  <div class="imgbox-white">
    <div class="g-img"><img src="../images/foub.gif"></div>
    <div class="g-img"><img src="../images/ok.gif"></div>
    <div class="g-img"><img src="../images/non2.gif"></div>
    <div class="g-img"><img src="../images/heu.gif"></div>
    <div class="g-img"><img src="../images/ouais.gif"></div>
    <div class="g-img"><img src="../images/non.gif"></div>
    <div class="g-img"><img src="../images/kikou.gif"></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Pour illustrer une idée.</h2>
    <p></p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/toon_guit.gif"></div>
    <div class="g-img"><img src="../images/bdcourse.gif"></div>
    <div class="g-img"><img src="../images/karate.gif"></div>
  </div><!-- fin imgbox -->



</div><!-- fin g-container -->

<p></p>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous avez une idée que vous souhaiteriez voir prendre vie ? Besoin d'une touche personnalisée ? <br />
      2- Après nous être entendu, je met en oeuvre mes compétences pour réaliser votre souhait.<br>
      3- Je vous délivre une première proposition statique.<br>
      4- Vous me faites part de votre ressenti, j'adapte le projet.<br>
      5- Je vous livre le résultat final dans les formats convenus.
    </p>
  </div>
  <div class="p-contact-button"><a href="contact.html"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></a></div>
</div>

<p></p>

<%= partial 'layouts/components/apt' %>

<script type="text/javascript">
  //<!-- no right clic
      document.oncontextmenu = new Function("return false");
  //-->
  </script>
