
<div data-aos="fade-up">
  <div class="p-container">
    <div class="text-center hidden-xs">
      <%= image_tag "ico-web.png", height: 80 %>
    </div>
    <div class="p-texte">
      <h1>Contenu numérique personnalisé.</h1>
      <h4>Pages web, réseaux sociaux, vidéos et lives Streams.</h4>
      <p>Sur fond transparents, peuvent être placés partout.</p>
    </div>
    <a href="contact.html"><button class="glow-on-hover" type="button">Poser une question.<br>Me faire part d'un projet. <br>Demander un devis.</button></a>
      <div class="text-center hidden-sm hidden-xs">
        <h3>Logiciels favoris</h3>
        <%= image_tag "ico-photoshop.png", height: 60 %>
        <%= image_tag "ico-3dsmax.png", height: 60 %>
        <%= image_tag "ico-wacom.png", height: 60, alt: "Wacom" %>
      </div>
  </div>
</div>

<div class="text-center">
  <h2>Twitch Templates</h2>
</div>

<div class="#" data-aos="zoom-in">
  <div class="imgbox-white">
    <a href="https://www.etsy.com/fr/shop/1bout2Ficel" target="_blank"><div class="g-img"><img src="../images/packpurple.jpg"></div></a>
    <a href="https://www.etsy.com/fr/shop/1bout2Ficel" target="_blank"><div class="g-img"><img src="../images/butterfly.jpg"></div></a>
    <a href="https://www.etsy.com/fr/shop/1bout2Ficel" target="_blank"><div class="g-img"><img src="../images/medicstaff.jpg"></div></a>
    <a href="https://www.etsy.com/fr/shop/1bout2Ficel" target="_blank"><div class="g-img"><img src="../images/8camanim.jpg"></div></a>

  </div><!-- fin imgbox-white -->

<div class="text-center">
  <h2>Animations légères</h2>
</div>

<div class="#" data-aos="zoom-in">
  <div class="imgbox-white">
    <div class="g-img"><img src="../images/toon_guit.gif"></div>
    <div class="g-img"><img src="../images/walk.gif"></div>
    <div class="g-img"><img src="../images/grijolie.gif"></div>
    <div class="g-img"><img src="../images/fight1.gif"></div>
    <div class="g-img"><img src="../images/ara.gif"></div>
    <div class="g-img"><img src="../images/chenille.gif"></div>
    <div class="g-img"><img src="../images/lewagon2.gif"></div>
    <div class="g-img"><img src="../images/bee.gif", height="200px"></div>
    <div class="g-img"><img src="../images/karate.gif"></div>
    <div class="g-img"><img src="../images/bdcourse.gif"></div>
  </div><!-- fin imgbox-white -->


  <div class="text-center">
    <h2>Storytelling, raconter une histoire, une région, un chemin de vie.</h2>
    <p></p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/Egrappage.gif"></div>
    <div class="g-img"><img src="../images/foulage.gif"></div>
    <div class="g-img"><img src="../images/presse.gif   "></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Personnaliser votre blog, amuser vos amis, surprendre vos abonnés.</h2>
    <p>Avoir un visuel unique qui vous représente !</p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/nuages.gif"></div>
    <div class="g-img"><img src="../images/francou.gif"></div>
    <div class="g-img"><img src="../images/carla.gif"></div>
    <div class="g-img"><img src="../images/aliensit.gif"></div>
    <div class="g-img"><img src="../images/guitare.gif"></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Faire un clin d'oeil personnalisé.</h2>
    <p>Pour valider, renforcer une idée, exprimer un ressenti...</p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/lola2.gif"></div>
    <div class="g-img"><img src="../images/yes.gif"></div>
    <div class="g-img"><img src="../images/lol9.gif"></div>
    <div class="g-img"><img src="../images/lol8.gif"></div>
    <div class="g-img"><img src="../images/oeil3.gif"></div>
    <div class="g-img"><img src="../images/foun.gif"></div>
    <div class="g-img"><img src="../images/redcar2.gif"></div>
  </div><!-- fin imgbox -->

  <div class="imgbox-white">
    <div class="g-img"><img src="../images/foub.gif"></div>
    <div class="g-img"><img src="../images/ok.gif"></div>
    <div class="g-img"><img src="../images/non2.gif"></div>
    <div class="g-img"><img src="../images/heu.gif"></div>
    <div class="g-img"><img src="../images/ouais.gif"></div>
    <div class="g-img"><img src="../images/non.gif"></div>
    <div class="g-img"><img src="../images/kikou.gif"></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Vous êtes unique, montrez le !</h2>

  </div>

</div><!-- fin g-container -->

<p></p>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous avez une idée d'animation que vous souhaiteriez voir prendre vie ?<br />
      2- Après nous être entendu, je met en oeuvre mes compétences pour la réaliser.<br>
      3- Je vous soumet ma proposition par mail.<br>
      4- Vous me faites votre retour, j'adapte le projet si besoin.<br>
      5- Je vous livre l'animation finale dans les formats convenus.
    </p>
  </div>
  <div class="p-contact-button"><a href="contact.html"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></a></div>
</div>

<p></p>

<%= partial 'layouts/components/apt' %>

<script type="text/javascript">
  //<!-- no right clic
      document.oncontextmenu = new Function("return false");
  //-->
  </script>
