
<div data-aos="fade-up">
  <div class="p-container">
    <div class="text-center hidden-xs">
      <%= image_tag "ico-web.png" %>
    </div>
    <div class="p-texte">
      <h1>Personnalisation de contenus numériques.</h1>
      <p>Pour agrémenter vos pages web ou votre blog, alimenter vos réseaux sociaux, personnaliser votre contenu est essentiel. Il est toujours possible de créer le visuel ou la petite animation qui va bien. Celle qui vous caractèrise et vous ressemble, qui illustre au mieux votre personnalité, l'idée que vous voulez faire passer, l'entreprise que vous incarnez.</p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <%= image_tag "ico-photoshop.png" %>
        <%= image_tag "ico-3dsmax.png" %>
        <%= image_tag "ico-wacom.png", alt: "Wacom" %>
      </div>
  </div>
</div>

<div class="text-center">
  <h2>Les gifs animés 2D / 3D</h2>
  <p>Simple à intégrer, légers... On peux tout animer !</p>
</div>

<div class="#" data-aos="zoom-in">
  <div class="imgbox-white">
    <div class="g-img"><img src="../images/toon_guit.gif"></div>
    <div class="g-img"><img src="../images/walk.gif"></div>
    <div class="g-img"><img src="../images/grijolie.gif"></div>
    <div class="g-img"><img src="../images/fight1.gif"></div>
    <div class="g-img"><img src="../images/ara.gif"></div>
    <div class="g-img"><img src="../images/chenille.gif"></div>
    <div class="g-img"><img src="../images/lewagon2.gif"></div>
    <div class="g-img"><img src="../images/bee.gif", height="200px"></div>
    <div class="g-img"><img src="../images/karate.gif"></div>
    <div class="g-img"><img src="../images/bdcourse.gif"></div>
  </div><!-- fin imgbox-white -->


  <div class="text-center">
    <h2>Pour illustrer un savoir faire.</h2>
    <p>Ajoutez simplement un gif liée à votre activité !</p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/Egrappage.gif"></div>
    <div class="g-img"><img src="../images/foulage.gif"></div>
    <div class="g-img"><img src="../images/presse.gif   "></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Pour personnaliser votre blog, amuser vos amis, vous démarquer auprès de vos followers.</h2>
    <p>Avoir un visuel unique qui vous représente !</p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/nuages.gif"></div>
    <div class="g-img"><img src="../images/francou.gif"></div>
    <div class="g-img"><img src="../images/carla.gif"></div>
    <div class="g-img"><img src="../images/aliensit.gif"></div>
    <div class="g-img"><img src="../images/guitare.gif"></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Pour faire un clin d'oeil personnalisé.</h2>
    <p>Pour valider, renforcer une idée, exprimer un mécontentement avec une image animée.</p>
  </div>

  <div class="imgbox-black">
    <div class="g-img"><img src="../images/lola2.gif"></div>
    <div class="g-img"><img src="../images/yes.gif"></div>
    <div class="g-img"><img src="../images/lol9.gif"></div>
    <div class="g-img"><img src="../images/lol8.gif"></div>
    <div class="g-img"><img src="../images/oeil3.gif"></div>
    <div class="g-img"><img src="../images/foun.gif"></div>
    <div class="g-img"><img src="../images/redcar2.gif"></div>
  </div><!-- fin imgbox -->

  <div class="imgbox-white">
    <div class="g-img"><img src="../images/foub.gif"></div>
    <div class="g-img"><img src="../images/ok.gif"></div>
    <div class="g-img"><img src="../images/non2.gif"></div>
    <div class="g-img"><img src="../images/heu.gif"></div>
    <div class="g-img"><img src="../images/ouais.gif"></div>
    <div class="g-img"><img src="../images/non.gif"></div>
    <div class="g-img"><img src="../images/kikou.gif"></div>
  </div><!-- fin imgbox -->

  <div class="text-center">
    <h2>Pour tout ce que vous pourriez imaginer.</h2>
    <p>Efficace et personnalisé !</p>
  </div>

</div><!-- fin g-container -->

<p></p>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Vous avez une idée d'animation que vous souhaiteriez voir prendre vie ? Besoin d'une touche personnalisée ? <br />
      2- Après nous être entendu, je met en oeuvre mes compétences pour la réaliser.<br>
      3- Je vous soumet ma proposition par mail.<br>
      4- Vous me faites votre retour, j'adapte le projet si besoin.<br>
      5- Je vous livre l'animation finale dans les formats convenus.
    </p>
  </div>
  <div class="p-contact-button"><a href="contact.html"><button class="btn btn-success">Me contacter<br>Immédiatement !</button></a></div>
</div>

<p></p>

<%= partial 'layouts/components/apt' %>

<script type="text/javascript">
  //<!-- no right clic
      document.oncontextmenu = new Function("return false");
  //-->
  </script>
