<div data-aos="fade-up">
  <div class="p-container">
    <div class="text-center hidden-xs">
      <%= image_tag "ico-illust.png" %>
    </div>
    <div class="i-texte">
      <h1>Dessins et illustrations.<span><%= image_tag "peinture.png", id: 'tube', class: 'hidden-xs' %></span></h1>
      <p>Travail à distance par écran partagé, mon studio graphique devient espace partagé le temps nécessaire à l'élaboration des travaux graphiques ou web.  Je modifie avec vous les travaux graphiques ou web, à distance de n'importe ou, même si vous êtes en déplacement ou chez vous en dehors de votre lieu de travail. Une collaboration adaptée à votre style de vie et selon vos disponiblités sur rendez-vous. La relation de travail à distance ne pose aucun problème, la visioconférence, vient agrémenter le processus d'échange​​​​​​​;</p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <h3>Domaine d'expertise</h3>
        <%= image_tag "ico-illustrator.png" %>
        <%= image_tag "ico-photoshop.png" %>
        <%= image_tag "ico-wacom.png" %>
      </div>
  </div>
</div>

<div class="sec-illust" data-stellar-background-ratio="1.5" data-stellar-horizontal-offset="40" data-stellar-vertical-offset="350">

  <div class="spacediv hidden-xs"> - </div>
</div>

<div class="citation">
  <h2>Peinture numérique, tracés illustrator et 3D avec rendu cartoon.</h2>
</div>

  <div class="i-container" data-aos="zoom-in">

    <div class="img">
      <a href="images/mede.jpg" data-lightbox="Mederic" data-title="Caricature d'après une photo."><%= image_tag "mede1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/med.jpg" data-lightbox="illustration" data-title="Caricature d'après une photo et mise en scène."><%= image_tag "med1.jpg" %></a>
    </div>
     <div class="img">
      <a href="images/smile.jpg" data-lightbox="illustration" data-title="Personnage semi réaliste."><%= image_tag "smile1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/shark.jpg" data-lightbox="illustration" data-title="Illustration 'Angry-Shark'"><%= image_tag "shark1.jpg"%></a>
     </div>
    <div class="img">
      <a href="images/powergirl.png" data-lightbox="illustration" data-title="Illustration libre - 'Power-girl'"><%= image_tag "powergirl1.png" %></a>
    </div>
    <div class="img">
     <a href="images/Sarah4.jpg" data-lightbox="illustration" data-title="Photo, illustrator puis photoshop."><%= image_tag "Sarah41.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/ah2.jpg" data-lightbox="ah" data-title="Photo originale - Cliquez à droite de la photo !"><%= image_tag "ah11.jpg" %></a>
    </div>
    <div class="img hidden">
      <a href="images/ah.jpg" data-lightbox="ah" data-title="Photo détourée, retouchée, montée."><%= image_tag "ah11.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/she.gif" data-lightbox="woman" data-title="Peinture depuis un croquis."><%= image_tag "she1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/woman.jpg" data-lightbox="woman" data-title="Peinture depuis un croquis."><%= image_tag "woman1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/pinup.jpg" data-lightbox="woman" data-title="Dessin sous Illustrator."><%= image_tag "pinup1.jpg"  %></a>
    </div>
    <div class="img">
      <a href="images/guitargirl.jpg" data-lightbox="Guitare" data-title="Guitare 3D rendu cartoon 2D."><%= image_tag "guitargirl1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/madame.jpg" data-lightbox="woman" data-title="Peinture digitale."><%= image_tag "madame1.jpg"%></a>
    </div>
    <div class="img">
      <a href="images/bd_p1.jpg" data-lightbox="bd" data-title="Planche 1/4 - Ctrl + / Ctrl - pour zoomer/dé-zoomer."><%= image_tag "planche-bd1.gif" %></a>
    </div>
    <div class="img hidden">
      <a href="images/bd_p2.jpg" data-lightbox="bd" data-title="planche 2/4 - Ctrl + / Ctrl - pour zoomer/dé-zoomer."></a>
    </div>
    <div class="img hidden">
      <a href="images/bd_p3.jpg" data-lightbox="bd" data-title="planche 3/4 - Ctrl + / Ctrl - pour zoomer/dé-zoomer."></a>
    </div>
    <div class="img hidden">
      <a href="images/bd_p4.jpg" data-lightbox="bd" data-title="planche 4/4 - Ctrl + / Ctrl - pour zoomer/dé-zoomer."></a>
    </div>
    <div class="img">
      <a href="images/marsupio2.jpg" data-lightbox="Marsuppio" data-title="Peinture depuis un croquis."><%= image_tag "marsupio1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/logospheres.jpg" data-lightbox="Desssin sous illustrator." data-title="Réflexion sous Illustrator."><%= image_tag "logospheres1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/ecografik.jpg" data-lightbox="illustration" data-title="Design Art- Illustrator"><%= image_tag "ecografik1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/ficel.jpg" data-lightbox="illustration" data-title="Identité visuelle 'Ficel' "><%= image_tag "ficel1.gif"  %></a>
    </div>
    <div class="img">
      <a href="images/underwater.jpg" data-lightbox="illustration" data-title="Projet Personnel - Visuel souvenir d'expérience."><%= image_tag "underwater1.jpg" %></a>
    </div>
    <div class="img">
      <a href="images/visual_bw.jpg" data-lightbox="illustration" data-title="Identité visuelle 'Bad-Guy' "><%= image_tag "visual_bw1.jpg" %></a>
    </div>
     <div class="img">
      <a href="images/piaf.gif" data-lightbox="piaf" data-title="tracé Illustrator."><%= image_tag "piaf1.gif" %></a>
    </div>
    <div class="img">
      <a href="images/pose.jpg" data-lightbox="Pose" data-title="Personnage 3D et rendu cartoon."><%= image_tag "pose1.gif" %></a>
    </div>
    <div class="img hidden">
      <a href="images/pose_02.jpg" data-lightbox="Pose" data-title="Personnage 3D et rendu cartoon. 2/3"><%= image_tag "pose1.gif" %></a>
    </div>
    <div class="img hidden">
      <a href="images/pose_03.jpg" data-lightbox="Pose" data-title="Personnage 3D et rendu cartoon. 3/3"><%= image_tag "pose1.gif" %></a>
    </div>
     <div class="img">
      <a href="images/guitare.jpg" data-lightbox="illustration" data-title="Illustration guitare style BD."><%= image_tag "guitare1.gif" %></a>
    </div>

</div><!-- fin i-container -->

<div class="white text-center aered"><%= image_tag "stars.png" %></div>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Ma proposition :</h4>
    <p>1- Contactez-moi pour me définir votre projet, me décrire votre univers.<br />
    2- Je vous fait une proposition de style fondée sur vos recommandations.<br>
    3- Etablissement d'un devis ou application d'un forfait journalier.<br />
    4- Dès réception de l'acompte, le projet est mis en production.<br />
    5- Nous suivons ensemble l'avancement du projet jusqu'à la livraison.</p>
  </div>
  <div class="p-contact-button"><a href="contact.html"><button class="btn btn-success btn-lg">Me contacter<br>Immédiatement !</button></a></div>
</div>

<%= partial 'layouts/components/apt' %>
