
<div class="white" data-aos="fade-up">
    <div class="p-container">
      <div class="text-center hidden-xs">
        <%= image_tag "ico-music.png" %>
      </div>
      <div class="p-texte">
        <h1>Compositions musicales.</h1>
        <p>Musiques et jinggles pour vos animations, vos vidéos Youtube, publicités, campagnes d'accroche.</p>
      </div>
        <div class="text-center hidden-sm hidden-xs">
          <%= image_tag "ico-cubase.png", height: 90 %>
          <%= image_tag "ico-guitarig.png", height: 90 %>
          <%= image_tag "ico-wavelab.png", height: 90 %>
        </div>
    </div>
</div>

<div class="m-container">
  <div class="m-img text-center">
    <%= image_tag "madtracker.jpg", height: 263, alt: "Madtracker" %>
  </div>
  <div class="m-img text-center">
    <%= image_tag "Rig5.jpg", alt: "Guitar rig" %>
  </div>
  <div class="m-img text-center">
    <%= image_tag "musique1.jpg", alt: "play misusic" %>
  </div>
  <div class="m-img text-center">
    <%= image_tag "cubase.jpg", alt: "Cubase" %>
  </div>
</div>


<div class="citation">
  <h2>Musique assitée par ordinateur.</h2>
  <p>Guitare électrique, clavier et ordinateur</p>
</div>

<div class="player">
<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
          <div><p>Médiator</p></div>
           <audio src="Ficel - Mediator.mp3" preload="auto" controls></audio>
          <div class="audioplayer-bar">
              <div class="audioplayer-bar-loaded"></div>
              <div class="audioplayer-bar-played"></div>
          </div>
          <div class="audioplayer-volume">
              <div class="audioplayer-volume-adjust"><div>
          </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Duangnet</p></div>
        <audio src="Duangnet.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
          <div><p>Valentine</p></div>
        <audio src="Ficel - Valentine.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
         </div>
        </div></div></div></div>

<div class="musicbox">
         <div class="audioplayer audioplayer-stopped">
            <div><p>L'âme en tension</p></div>
        <audio src="Ficel - L'ame en tension.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Ballade</p></div>
        <audio src="ballade2.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>
<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Du retard</p></div>
        <audio src="Ficel - Du retard.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Happy time</p></div>
        <audio src="Ficel - Happy time.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>All4</p></div>
        <audio src="Ficel - Al 4.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Reprise : Stay -  Sadie Jemmett</p></div>
        <audio src="Reprise Stay -  Sadie Jemmett.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>MyDubstyle</p></div>
        <audio src="Ficel - Feel Good.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>

<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Enerjoy</p></div>
        <audio src="Ficel - Enerjoy.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div>
        </div></div></div></div>


<div class="musicbox">
        <div class="audioplayer audioplayer-stopped">
            <div><p>Concerto</p></div>
        <audio src="Ficel - Once upon a space.mp3" preload="auto" controls></audio>
        <div class="audioplayer-bar">
            <div class="audioplayer-bar-loaded"></div>
            <div class="audioplayer-bar-played"></div>
        </div>
        <div class="audioplayer-volume">
            <div class="audioplayer-volume-adjust"><div>
        </div></div></div></div>

      </div><!-- end player -->

      </div><!-- end container -->

      <div class="citation">
  <h2>Mes Jinggles</h2>
  <p><div class="p-contact-button"><a href="contact.html"><img src="../images/enconstr.jpg" height="120"></a></div></p>
</div>


    <div class="white text-center aered"><%= image_tag "stars.png" %></div>

<div class="p-container white">
  <div class="p-info-barre">
    <h4>Recommandations :</h4>
    <p>1- Contactez-moi pour me définir l'objectif, quelle est l'ambiance ? l'émotion recherchée ?<br />
    2- Je vous fait une proposition fondée sur vos recommandations, votre vidéo, votre concept.<br>
    3- J'établie un devis.<br />
    4- Dès réception de l'acompte, le projet est mis en production.<br />
    5- Nous suivons ensemble l'avancement du projet jusqu'à la livraison.<br>
    6- Le projet est livré dans les formats retenus.</p>
  </div>
  <div class="p-contact-button"><a href="contact.html"><button class="btn btn-success btn-lg">Me contacter<br>Immédiatement !</button></a></div>
</div>

<%= partial 'layouts/components/apt' %>

<script>
    $( function()
    {
        $( 'audio' ).audioPlayer();
    });
</script>


</body>
</html>


