<div data-aos="fade-up">
  <div class="p-container">
    <div class="text-center hidden-xs">
      <%= image_tag "ico-print.png" %>
    </div>
    <div class="p-texte">
      <h1>Mise en page & Web Design</h1>
      <p>Plaquettes, affiches, flyers, annonces presse, plan d'informations, cartes de visite, étiquettes.</p>
      <p>Retouche images/photos, intégration web, animation.</p>
      <p>Pour la création de site internet, voir la section <a href="dev_comp.html">Développement</a>.</p>
    </div>
      <div class="text-center hidden-sm hidden-xs">
        <h3>Domaine d'expertise</h3>
        <%= image_tag "ico-indesign.png", height: 60 %>
        <%= image_tag "ico-xpress.png", height: 60 %>
        <%= image_tag "ico-illustrator.png", height: 60 %>
        <%= image_tag "ico-photoshop.png", height: 60 %>
      </div>
  </div>
</div>

<section class="gradient">
  <div class="row">
    <div class="col-xs-12">

        <div class="cont-thumbs">
          <div class="p-titre-section">
            <h4>Exemples de plaquette, poster et dossier de presse</h4>
          </div>
          <div class="thumb-box">
            <a class="img" href="images/lfc2.jpg" data-lightbox="print" data-title="Plaquette A4 Recto/Verso de La Fabuleuse Croisière"><%= image_tag "art006.jpg"%></a>
            <a class="img" href="images/LFM.jpg" data-lightbox="print" data-title="Plaquette recto/verso, Les fous-Marins."><%= image_tag "art007.jpg"%></a>
            <a class="img" class="" href="images/ah.jpg" data-lightbox="ah" data-title="Photo de base. Cliquez dessus pour voir le montage !"><%= image_tag "ah1.png" %></a>
            <a class="img" href="images/Fake-avis.jpg" data-lightbox="print" data-title="brochures"><%= image_tag "Fake-avis1.png"%></a>
            <a class="img" href="images/plaquette.jpg" data-lightbox="print" data-title="plaquette Artistes et Compagnie"><img src="images/plaquette1.png" height="139"></a>
          </div>
        </div>

         <div class="cont-thumbs" data-aos-delay="400">
          <div class="p-titre-section">
            <h4>Flyers, pochette de CD, plan d'information, cartes de fidélitée</h4>
          </div>
          <div class="thumb-box">
            <a class="img" href="images/flyer_ec.jpg" data-lightbox="print" data-title="Flyers A5, Bar El Chuchumbe."><%= image_tag "flyer_ec1.png", height:139 %></a>
            <a class="img" href="images/atf.jpg" data-lightbox="atf" data-title="Maquette de CD - Album Ashes To Fire."><%= image_tag "atf1.jpg", height:139%></a>
            <a class="hidden" href="images/pieuvre.jpg" data-lightbox="atf" data-title="Image de la construction en 3D."></a>
            <a class="hidden" href="images/cd_atf.jpg" data-lightbox="atf" data-title="Résultat final."></a>
            <a class="img" href="images/planavis.png" data-lightbox="autres" data-title="Plan d'information visiteurs - format: A3, Avis Mérignac."><%= image_tag "planavis1.png", height:139%></a>

            <a class="img" href="images/theroof.jpg" data-lightbox="print" data-title="Flyers, format: A5. Bar The Roof à Koh Tao."><%= image_tag "theroof1.gif", height:139%></a>
            <a class="img" href="images/tract.gif" data-lightbox="print" data-title="Flyers, format: A5. Discothèque Le Dalton."><%= image_tag "tract1.gif", height:139%></a>
            <a class="img" href="images/tionene.jpg" data-lightbox="print" data-title="Carte de fidélité, format A5 (2 x 3 volets)"><%= image_tag "tionene1.gif", height:139%></a>
          </div>
        </div>

        <div class="cont-thumbs" data-aos-delay="800">
          <div class="p-titre-section">
            <h4>Cartes de visites et étiquettes personnalisées</h4>
          </div>

          <div class="thumb-box">
            <a class="img" href="images/carte_visite_usa.jpg" data-lightbox="autres" data-title="Cartes de visite."><%= image_tag "carte_visite_usa1.gif" %></a>
            <a class="img" href="images/carte_visite_zen.jpg" data-lightbox="autres" data-title="Cartes de visite."><%= image_tag "carte_visite_zen1.jpg" %></a>
            <a class="img" href="images/cvisit.gif" data-lightbox="autres" data-title="Cartes de visite."><%= image_tag "cvisit1.gif" %></a>
            <a class="img" href="images/etiquettes_noel2.jpg" data-lightbox="print" data-title="Etiquettes planche A5, à imprimer sur papier adhésif."><%= image_tag "etiquettes_noel21.jpg"%></a>
          </div>
        </div>

    </div><!-- Fin col-xs-12 -->

   <div class="col-xs-12">

        <div class="cont-thumbs" data-aos-delay="800">
      <div class="p-titre-section">
        <h4>Design</h4>
      </div>
      <div class="thumb-box">
        <div class="g-img"><img src="../images/div_aam.png"></div>
        <div class="g-img"><img src="../images/div_esdreat.png"></div>
        <div class="g-img"><img src="../images/div_lcpe.png"></div>
        <div class="g-img"><img src="../images/div_lspe.png"></div>
        <div class="g-img"><img src="../images/div_noel.png"></div>
        <div class="g-img"><img src="../images/div_contact.png"></div>
      </div>
    </div>

    <div class="cont-thumbs">
          <div class="p-titre-section">
            <h4>Identité de marque et logos</h4>
          </div>
          <div class="thumb-box">
            <a class="img" href="images/designa.jpg" data-lightbox="autres" data-title="Japanese Design"><%= image_tag "designa1.jpg", height:139 %></a>
            <a class="img" href="images/ecografik.jpg" data-lightbox="autres" data-title="#"><%= image_tag "ecografik1.gif", height:139 %></a>
            <a class="img" href="images/link.jpg" data-lightbox="logos" data-title="Logo Link Concept"><img src="images/linkco.png" height="139"></a>
            <a class="img" href="images/logo_bad_guy.jpg" data-lightbox="logos" data-title="Logo 'Bad-Guy' "><%= image_tag "logo_bad_guy1.gif", height:139 %></a>
            <a class="img" href="images/logo_artecie.jpg" data-lightbox="logos" data-title="Déclinaisons de logos 'Artistes et Cie'."><img src="images/logo_artecie1.jpg" height="139" ></a>
          </div>
        </div>

        <div class="cont-thumbs" data-aos-delay="800">
          <div class="p-titre-section"><h4>Design Print-On-Demand & objets publicitaires</h4></div>
        </div>
        <div class="thumb-box">
          <a class="img" href="images/condom.jpg" data-lightbox="tee-shirt" data-title="Impression sur tee-shirt."><%= image_tag "condom1.jpg" %></a>
        </div>

    </div><!-- Fin col-xs-12 -->
  </div><!-- fin row -->
</section>







<div class="white text-center aered"><%= image_tag "stars.png" %></div>

<section>
  <div class="p-container">
    <div class="p-info-barre">
      <h4>Recommandations :</h4>
      <p>1- Vous me définissez votre projet, votre objectif (cahier des charges).<br />
      2- J'établie un devis. Dès réception de l'acompte, le projet est mis en production.<br />
      3- Je vous fais une proposition fondée sur la ligne directrice retenue.<br />
      4- Nous évaluons ensemble le résultat de cette proposition.<br />
      5- Je fais les ajustements si nécessaires.<br>
      6- Dès reception du solde le projet est livré dans tout les formats convenus.</p>
    </div>
    <div class="p-contact-button"><a href="contact.html"><button class="btn btn-success btn-lg">Me contacter<br>maintenant !</button></a></div>
  </div>
</section>
<%= partial 'layouts/components/apt' %>
