<div class="shop-banner">


</div>

<div class="container">
  <div class="shop-Productsframe">
    <div class="card">
      <%= image_tag "boutique/CrazyJoe_Miniature1.jpg", alt: "CrazyJoe Figurine magnétique STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/MadMerry_Miniature1.jpg", alt: "MadMerry Figurine STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/CSK_Miniature1.jpg", alt: "Coton Swab Keeper container STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/CKB_Miniature1.jpg", alt: "Candy Keeper - Round Box STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/CPHV2_Miniature1.jpg", alt: "Universal Phone Holder STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/Sherazade_Miniature1.jpg", alt: "MadMerry Figurine magnétique STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/BBM_Miniature1.jpg", alt: "BabyMech - Robot articulé STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/CCrash_Miniature1.jpg", alt: "CCrach - figurine STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/CMD_Miniature1.jpg", alt: "CMD - Cotton Make-up Dispencer STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/RezGecko_Miniature1.jpg", alt: "Gecko STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <%= image_tag "boutique/TalkingWithAngel_Miniature1.jpg", alt: "Talking With Angel ddécoration STL" %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
      </div>
    <div class="card">
      <%= image_tag "boutique/TPK_Miniature1.jpg", alt: "TPS - Keeper Hinged Box STL " %>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>

  </div><!-- Fin shop-Productsframe -->
</div><!-- Fin container -->
