<div class="shop-banner">
  <h2>1BOUT2FICEL<br>3D CRAZY MAKER FACTORY<br>Retrouvez ma BOUTIQUE sur : <a href="https://etsy.com">Etsy.com</a></h3>
</div>

<div class="container">
  <div class="shop-Productsframe">
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/CrazyJoe_Miniature1.jpg", alt: "CrazyJoe Figurine magnétique STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/MadMerry_Miniature1.jpg", alt: "MadMerry Figurine STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/CSK_Miniature1.jpg", alt: "Coton Swab Keeper container STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/CKB_Miniature1.jpg", alt: "Candy Keeper - Round Box STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/CPHV2_Miniature1.jpg", alt: "Universal Phone Holder STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/Sherazade_Miniature1.jpg", alt: "MadMerry Figurine magnétique STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/BBM_Miniature1.jpg", alt: "BabyMech - Robot articulé STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/CCrash_Miniature1.jpg", alt: "CCrach - figurine STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/CMD_Miniature1.jpg", alt: "CMD - Cotton Make-up Dispencer STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/RezGecko_Miniature1.jpg", alt: "Gecko STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/TalkingWithAngel_Miniature1.jpg", alt: "Talking With Angel ddécoration STL" %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
      </div>
    <div class="card">
      <a href="Link">
      <%= image_tag "boutique/TPK_Miniature1.jpg", alt: "TPS - Keeper Hinged Box STL " %></a>

        <div class="productlink"><%= image_tag "source", alt: "EXAMINER" %></div>
    </div>

  </div><!-- Fin shop-Productsframe -->
</div><!-- Fin container -->
